<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <p><%= "Coach: %s" % coach.name %></p>
  <p><%= "Date: %s" % date %></p>
  <p><%= "Time: %s %s" % [availability_block.start_time.strftime("%I:%M %p"), coach.time_zone] %></p>

  <%= form.hidden_field :coach_id, value: coach.id %>
  <%= form.hidden_field :availability_block_id, value: availability_block.id %>
  <%= form.hidden_field :date, value: date %>

  <div class="field">
    <%= form.label "Enter your name:" %>
    <%= form.text_field :client_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
